/* 
---------------------------
VARIABLES AND GLOBAL STYLES 
---------------------------
*/

@font-face {
    font-family: Terminal;
    src: url(fonts/BigBlueTerminal/BigBlueTerm437NerdFont-Regular.ttf);
}

@font-face {
    font-family: Share Tech;
    src: url(fonts/Share_Tech/ShareTech-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    
    font-family: Share Tech;
}

body {
    margin: 0px; /* get rid of space around edges*/
    background-image: url(pics/5.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    min-width: none;
}

/* used for seeing divs and stuff */
/* div, p, nav{
    border: 1px solid white;
} */

main {
    width: 80%;
    margin: 0 auto 
}

.container {
    display: flex
}

.name {
    color: white;
}

hr {
    flex-grow: 1;
}

/* 
------------------------
       HEADER 
------------------------
*/

#header-container {
    width: 100%;
    justify-content: center;
}

#header {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

#navbar {
    justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  border-radius: 15%;
}

#navbar-name {
    color: #00FF00;
    font-family: Terminal;
}

/* 
--------------------------
        HERO
-------------------------- 
*/

#home-image {
    height: 300px;
    border-radius: 5%;
}

#home-image-container {
    justify-content: center;
    align-items: center;
}

#home-container {
    justify-content: center;
    width: 100%;
}

#home-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-hello, #home-description {
    color: white;
}

.parent {
    flex-wrap: wrap;
}

.children {
    flex: 1 1 auto;
}

.children > * {
    max-width: 400px;
}


/* 
----------------------------
         ABOUT
---------------------------- 
*/

#about-container {
    flex-direction: column;
}

.subheading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subheading-container:first-child {
    color: white;
}

#about-text {
    border-radius: 5%;
    background-color: #111111;
    color: white;
    padding: 20px;
}

/* 
-------------------------------
         PROJECTS
------------------------------- 
*/

#project-examples-container {
    justify-content: center;
}

#projects-container {
    flex-direction: column;
}

.project-example-container {
    text-decoration: none;
    flex-direction: column;
    background-color: #111111;
    padding: 10px;
    border-radius: 2%;
}

/* change later to make project name text diff color */
.project-example-container > * {
    color: white; 
}

.project-image {
    width: 100%;
}


